@import url(https://fonts.googleapis.com/css?family=Oswald|Rokkitt);.powerline {
  font-family: "Droid Sans Mono for Powerline", "Droid Sans Mono", Mono;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 1.5em;
  line-height: 1.5em;
  /* center bg-color */
  background-color: #ffffff;
  color: #fcfcfc;
  overflow-y: hidden;
  left: 0;
  right: 0;
  margin: 0;
}

.powerline a {
  color: inherit;
  text-decoration: none;
}

.powerline-top {
  top: 0;
}

.powerline-bottom {
  bottom: 0;
}

.powerline .left,
.powerline .right {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}

.powerline .shrinkable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2em;
  -webkit-transition: max-width 1s ease-in-out;
  transition: max-width 1s ease-in-out;
}

.powerline .shrinkable:hover {
  max-width: 1000px;
}

.powerline .center {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.powerline .left .endsection {
  position: relative;
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid;
}

.powerline .right .endsection {
  position: relative;
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-right: 0.8em solid;
  border-bottom: 0.8em solid transparent;
}

.powerline div:not(.endsection) {
  padding: 0 14px;
}

.powerline .left div {
  background-color: #c7c7c7;
}

.powerline .left div:first-child {
  background-color: #656565;
}

.powerline .left div:first-child + .endsection {
  border-left-color: #656565;
  background-color: #c7c7c7;
}

.powerline .left div + .endsection {
  border-left-color: #c7c7c7;
  background-color: #ffffff;
}

.powerline .center {
  background-color: #272727;
  color: #fcfcfc;
}

.powerline .right .endsection:first-child {
  border-right-color: #c7c7c7;
}

.powerline .right div:nth-child(2) {
  background-color: #c7c7c7;
  color: #fcfcfc;
}

.powerline .right div:nth-child(2) + .endsection {
  background-color: #c7c7c7;
  border-right-color: #656565;
}

.powerline .right div:nth-child(2) + .endsection + div {
  background-color: #656565;
}

.powerline-small {
  font-size: 12px;
}

.powerline-full {
  bottom: 0;
  position: fixed;
  z-index: 150;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight)));
  font-family: "Droid Sans Mono for Powerline", "Droid Sans Mono", Mono;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 1.5em;
  line-height: 1.5em;
  /* center bg-color */
  background-color: #272727;
  color: #000000;
  overflow-y: hidden;
  left: 0;
  right: 0;
  margin: 0;
}

.powerline-full a {
  color: inherit;
  text-decoration: none;
}

.powerline-full-top {
  top: 0;
}

.powerline-full-bottom {
  bottom: 0;
}

.powerline-full .left,
.powerline-full .right {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}

.powerline-full .shrinkable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2em;
  -webkit-transition: max-width 1s ease-in-out;
  transition: max-width 1s ease-in-out;
}

.powerline-full .shrinkable:hover {
  max-width: 1000px;
}

.powerline-full .center {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.powerline-full .left .endsection {
  position: relative;
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid;
}

.powerline-full .right .endsection {
  position: relative;
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-right: 0.8em solid;
  border-bottom: 0.8em solid transparent;
}

.powerline-full div:not(.endsection) {
  padding: 0 14px;
}

.powerline-full .left div {
  background-color: #656565;
}

.powerline-full .left div:first-child {
  background-color: #c7c7c7;
}

.powerline-full .left div:first-child + .endsection {
  border-left-color: #c7c7c7;
  background-color: #656565;
}

.powerline-full .left div + .endsection {
  border-left-color: #656565;
  background-color: #272727;
}

.powerline-full .center {
  background-color: #272727;
  color: #fcfcfc;
}

.powerline-full .right .endsection:first-child {
  border-right-color: #656565;
}

.powerline-full .right div:nth-child(2) {
  background-color: #656565;
  color: #fcfcfc;
}

.powerline-full .right div:nth-child(2) + .endsection {
  background-color: #656565;
  border-right-color: #c7c7c7;
}

.powerline-full .right div:nth-child(2) + .endsection + div {
  background-color: #c7c7c7;
}

.box {
  padding: 0 1em;
  background-color: #656565;
  border-style: solid;
  border-color: #fcfcfc;
  border-image-repeat: round;
}

@font-face {
  font-family: "Droid Sans Mono for Powerline";
  src: url("/static/fonts/droid-sans.otf") format("opentype");
}

.post {
  padding: 15px;
  margin-bottom: 4em;
}

.post pre {
  white-space: pre-wrap;
}

.share_icons a {
  padding: 5px;
}

.dateline {
  font-size: 10px;
}

.dateline-container {
  top: -15px;
  position: relative;
}

body {
  background-color: #ffffff;
  color: #4f626f;
  font-family: 'Rokkitt', serif;
}

body a {
  color: #e47508;
}

.font-yellow {
  color: #ddfd00 !important;
}

.font-white {
  color: #fcfcfc !important;
}

.about {
  font-size: 14px;
}

.hard-right {
  position: absolute;
  right: 0;
}

.hard-left {
  position: absolute;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: #e47508;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #e47508;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #e47508;
}

.post-title {
  color: #333333;
}

.page-title {
  font-size: 1.2em;
  color: #333333;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.post div img {
  display: block;
  margin: auto;
  max-width: 75%;
  height: auto;
}

.sidebar img {
  border-radius: 50%;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

.sidebar-item {
  padding-top: 10px;
  line-height: 1em;
}

.menu {
  position: absolute;
  right: 5px;
  top: 5px;
}

.menu .dropdown-menu.dropdown-menu-right {
  max-width: 250px;
}

.menu a.dropdown-item {
  text-overflow: ellipsis;
  overflow: hidden;
}

.spacer {
  padding-bottom: 3em;
}

