@font-face {
	font-family: "Droid Sans Mono for Powerline";
	src: url("/fonts/droid-sans.otf") format("opentype");
}
body {
	background-color: $body-bg;
	color: $font-color-primary;
	font-family: "Droid Sans Mono for Powerline", "Droid Sans Mono", Mono;
	a {
		color: $font-color-secondary;

	}
}
.font-yellow{
	color: $color-powerline-yellow !important;
}
.font-white {
	color: $color-powerline-text-light !important;
}

.about {
	font-size:10px;
}
.hard-right {
	position: absolute;
	right: 0;
}
.hard-left {
	position: absolute;
	left: 0;
}
h1, h2, h3, h4, h5, h6 {

	color: $font-color-orange;
	a {
		color: $font-color-orange;
		&:hover {
			color: $font-color-orange;
		}
	}
}
.post-title {
	color: $font-color-post-title;
}
.page-title {
	color: $font-color-page-title;
}
