
// Body
//$body-bg: #333640;


$orange: #e47508;
$purple: #8e44ac;
$dark-purple: #5f005e;
$white: #fcfcfc;
$yellow: #ddfd00;
$blue: #025dfa;

$font-color-orange: $orange;
$font-color-purple: $purple;



$body-bg: #ffffff;

$font-color-secondary: $orange;
$font-color-primary: #4f626f; //#cfcfc2;


$font-color-page-title: #333333;
$font-color-post-title:	#333333 ;

$color-powerline-main: #c7c7c7;
$color-powerline-bg-full: #272727;
$color-powerline-bg-grey: #656565;

$color-powerline-yellow: $yellow;
$color-powerline-blue: $blue;
$color-powerline-text-dark: #000000;
$color-powerline-text-light: $white;


$color-powerline-center-fg: #272727;
$color-powerline-center-text: $color-powerline-text-light;
