
// Body
//$body-bg: #333640;


$orange: #e47508;
$purple: #8e44ac;
$dark-purple: #5f005e;
$white: #fcfcfc;
$yellow: #ddfd00;
$blue: #025dfa;

$font-color-orange: $orange;
$font-color-purple: $purple;



$body-bg: #000000;

$font-color-secondary: $orange;
$font-color-primary: #7a7c7d;


$font-color-page-title: #cfcfc2;
$font-color-post-title: #2880b9;

$color-powerline-main: #00dcfa;
$color-powerline-bg-full: #025dfa;
$color-powerline-bg-grey: #035dfb;

$color-powerline-yellow: $yellow;
$color-powerline-blue: $blue;
$color-powerline-text-dark: #05005e;
$color-powerline-text-light: $white;


$color-powerline-center-fg: #09007e;
$color-powerline-center-text: $color-powerline-text-light;
