<div class="post listing">
	<div class="row">
		<div class="col-xs-10"><h1 class="post-title">About Me</h1></div>
	</div>
	<div>
		<p>I am a professional web developer and amateur home automation enthusiast from Winnipeg, Manitoba, Canada.</p>
		<p>Professionally, I work primarily on Laravel based projects with a PHP, MySQL and NGINX backend, as well as a variety of front-end technologies, including but not limited to Twig, AngularJS, and SCSS. In my spare time, I enjoy working with a wide variety of languages-- such as contributing to Home Assistant [Python] and other open source projects, as well as working with new technology stacks such as the one for this blog which is "server-less" (uses a variety of AWS services- Lambda, DynamoDB, API Gateway, CloudFront and S3).</p>
		<p>I live in an old house with my wife and two cats with whom I enjoy relaxing and watching Vanderpump Rules and Real Housewives. I am also an avid curler and a current member of the executive board for the Thistle Curling Club.</p>
	</div>
</div>


