<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="index, follow" />
		<title>{{=it.website_title}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no">

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="/static/js/powerline.js" type="text/javascript"></script>
		<link href="/static/css/powerline.css" rel="stylesheet">

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-103046502-1', 'auto');
			ga('send', 'pageview');

		</script>
		<script src='https://www.google.com/recaptcha/api.js'></script>

		{{? it.meta_description }}
		<meta name="description" content="{{= it.meta_description}}"/>
		{{??}}
		<meta name="description" content="Home automation projects and other assorted personal projects"/>
		{{?}}

	</head>
	<body>

		<div class="container-fluid">

			<a name="top"></a>
			<div class="content">
				<div class="row">
					<div class="col-xs-12">
						<h1><a class="page-title" href="/">{{=it.header_title}}</a></h1>
						<ul class="powerline">
							<li class="left">
								<div>{{=it.header_desc}}</div>
								<div class="endsection"></div>
								<div class=""> </div>
								<div class="endsection"></div>
							</li>
						</ul>
					</div>
				</div>
				<!--
		<div class="page_container">
		<div class="row header">
		<div class="col s12 m12 l12 title">
		<a href="/"><h1></h1>
		</div>



		<div class="col s6 m6 l6 pagination" style="text-align: left;">
		{{? it.page > 0}}
		<a href="/page/{{=it.page-1}}"><i class="fa fa-arrow-left" ></i> previous page</<a>
		{{?}}
		</div>


		<div class="col s6 m6 l6 pagination" style="text-align: right;">
		{{? it.page < it.last_page}}
		<a href="/page/{{=it.page+1}}">next page <i class="fa fa-arrow-right" ></i></a>
		{{?}}
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
								$('select').material_select();
							});
		</script>
		</div>
		-->






